@using Microsoft.AspNetCore.Authorization
@using QuickShop.Client.Authentication
@using QuickShop.Client.Services
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider authStateProvider



<div class="container">
    <header class="d-flex py-3 text-lg-start">
        <NavLink href="/" class="text-light text-decoration-none fs-2 fw-bold">Urban Indumentaria</NavLink>
        <ul class="nav">
            <li>
                <NavLink href="/" class="link-light nav-link">Inicio</NavLink>
            </li>  
            <li>
                <NavLink href="/store" class="link-light nav-link">Productos</NavLink>
            </li>
            <li>
              <AuthorizeView Roles="Admin">
                    <NavLink href="/products" class="link-light nav-link">Administrador</NavLink>
              </AuthorizeView> 
            </li>
            
        </ul>   
        <div class="text-end">
            <AuthorizeView>
                <Authorized>
                    <div class="text-end">
                        <span class="fw-bold text-primary">@context.User.Identity!.Name</span>
                        <FluentButton IconStart="@(new Icons.Regular.Size24.Cart())" Appearance="Appearance.Accent" BackgroundColor="#0584f7" Style=" padding: 5px; height: 40px" OnClick="GoToCart">Carrito</FluentButton>
                        <FluentButton IconStart="@(new Icons.Regular.Size24.DismissCircle())" Appearance="Appearance.Accent" BackgroundColor="#ff0000" Style=" padding: 5px; height: 40px" OnClick="LogOut">Cerrar Sesión</FluentButton>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <FluentButton IconStart="@(new Icons.Regular.Size24.Cart())" Appearance="Appearance.Accent" BackgroundColor="#0584f7" Style=" padding: 5px; height: 40px">Carrito</FluentButton>
                    <FluentButton IconStart="@(new Icons.Regular.Size24.Person())" Appearance="Appearance.Accent" BackgroundColor="#0584f7" Style="padding: 5px; height: 40px" OnClick="GoToLogIn">Iniciar Sesión</FluentButton>
                    <FluentButton IconStart="@(new Icons.Regular.Size24.PersonAdd())" Appearance="Appearance.Accent" BackgroundColor="#0584f7" Style="padding: 5px;height: 40px" OnClick="GoToRegister">Registrarse</FluentButton>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </header>
</div>

@code {

   

    
    public void GoToCart()
    {
        navigationManager.NavigateTo("/cart");
    }
    public void GoToLogIn()
    {
        navigationManager.NavigateTo("/login");
    }
    public void GoToRegister()
    {
        navigationManager.NavigateTo("/register");
    }

    

    public async Task LogOut()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(null!);
        navigationManager.NavigateTo("/store", replace: true);
    }

}